@use "../util/mixin" as b;

.mobile__menu {
  height: 100dvh;
  width: 15rem;
  background-color: var(--color-dark);
  padding-bottom: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11111;
  display: none;
  overflow: hidden;
  transform: translateX(-100%);
  transition: 600ms linear;

  &-nav {
    height: 60%;
    padding-left: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: column;

    &-item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;

      & li a {
        font-size: var(--size-sm);
        font-weight: 600;
        color: var(--color-light);
      }
    }
  }

  &-cross {
    background-color: var(--color-white);
    height: 4.375rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2.8rem;

    & svg {
      width: 1.4rem;
      cursor: pointer;
    }
  }
}

.slider {
  display: block;
  transform: translateX(0%);
}

