@use "../util/mixin" as b;

.map {
  padding-top: 4rem;
  padding-bottom: 2rem;

  @include b.breakpoint(md) {
    padding-top: 7rem;
  }

  &__wrapper {
    &-image {
      text-align: center;

      &-map {
        width: 19.5rem;
        height: auto;

        @include b.breakpoint(md) {
          width: 43.0625rem;
        }

        @include b.breakpoint(lg) {
          width: 69.375rem;
        }
      }

      &-location {
        margin-top: 4rem;

        @include b.breakpoint(md) {
          display: none;
        }

        &-item {
          background-color: var(--color-pink);
          padding: 2rem;

          h4 {
            font-size: var(--size-md);
            color: var(--color-dark);
          }
        }
      }

      &-location .map__wrapper-image-location-item:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &-details {
      margin-top: 4.6rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;

      @include b.breakpoint(lg) {
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
      }

      & h2 {
        @include b.breakpoint(lg) {
          width: 28%;
        }
      }

      & p {
        @include b.breakpoint(lg) {
          width: 46%;
        }
      }
    }
  }
}
