@use "../util/mixin" as b;

.home-hero {
  background-image: url("../../assets/hero-mobile.png");
  background-size: cover;
  width: 100%;
  height: 40.625rem;
  position: relative;

  @include b.breakpoint(md) {
    background: url("../../assets/hero-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include b.breakpoint(lg) {
    background: url("../../assets/hero-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-top: 24%;

    @include b.breakpoint(md) {
      padding-top: 10%;
    }

    @include b.breakpoint-down(lg) {
      text-align: center;
    }
  }

  &__title-home {
    @include b.breakpoint(md) {
      width: 70%;
    }

    @include b.breakpoint(lg) {
      width: 42%;
      margin-left: -36%;
    }
  }

  &__description-home {
    @include b.breakpoint(md) {
      width: 70%;
    }

    @include b.breakpoint(lg) {
      width: 44%;
      margin-left: -20%;
    }
  }

  &__btn-home {
    @include b.breakpoint(lg) {
      margin-left: -51%;
    }
  }

  &__image-mobile {
    position: absolute;
    left: 0;
    bottom: 1.75rem;
    width: 8rem;

    @include b.breakpoint(md) {
      width: 22rem;
      bottom: 2.4rem;
    }

    @include b.breakpoint(lg) {
      left: 62%;
      bottom: 12rem;
    }
  }

  &__path-home {
    @include b.breakpoint-down(lg) {
      display: none;
    }
    @include b.breakpoint(lg) {
      display: block;
      width: 11rem;
      position: absolute;
      left: 0;
      bottom: 18rem;
    }
  }
}
